header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

header .logo img {
  height: 100px;
}

nav {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
nav a {
  text-decoration: none;
  padding: 0 2em;
  font-size: 1.1em;
}
nav img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
